div#visor {

    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

#emcima {

    position: fixed;

    height: 5%;
    width: 100%;
    background-color: red;


}


#baixo {
    position: fixed;


    display: flex;
    justify-content: space-around;
    bottom: 0;
    height: 10%;
    width: 100%;


    background-color: black;

    p {

        width: 40px;
        height: 40px;
        font-size: 22px;
        position: relative;
        top: 15px;
        color: white;
        background-color: black;
    }


}

}













.cursos {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

a{
    height: 100%;
    width: 25%;
}
.curso{
    background-color: black;
    height: 100%;
    width: 85%;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#importacao{
    background-image: url('../capas/capa1.jpg');
}

#trafego-pago{
    background-image: url('../capas/trafego_pago_capa.jpg');
}

#dropshipping-nacional{
    background-image: url('../capas/capa3.jpg');
}

#hotpay-academy{
    background-image: url('../capas/hotpay_capa.jpg');
}

#afiliado-de-apostas{
    background-image: url('../capas/apostas_capa.jpg');
}

#sms-marketing{
    background-image: url('../capas/sms_marketing_capa.jpg');
}



#despertar-digital{
    background-image: url('../capas/despertar_digital_capa.jpg');
}

#magnata{
    background-image: url('../capas/magnata_capa.jpg');
}


#ultimo-chamado{
    background-image: url('../capas/ultimo_chamado_capa.jpg');
}